<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Course Details</title>
</head>
<body>
<h2>Course Details</h2>

<p><b>Course Name:</b> <span th:text="${course.name}"></span></p>
<p><b>Description:</b> <span th:text="${course.description}"></span></p>

<h3>Registered Students:</h3>
<ul>
    <li th:each="student : ${course.students}"
        th:text="${student.firstName + ' ' + student.lastName}"></li>
</ul>

<a th:href="@{/courses/all}">Back to Course List</a>
</body>
</html>
